main {
    font-size: 16px;
}

hr {
    margin: 0;
}

h2 {
    margin-bottom: 20px;
}

.main-box .bonus-page-title {
    margin-bottom: 30px;
}

.main-box .bookmaker-box-bonus {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
    margin: 1px 0;
}

.bookmaker-box-mobile {
    margin-bottom: 1px !important;
}

.main-box .bookmaker-box-title-bonus {
    margin: 0 0 1px 0;
    padding: 0;
}

.main-box .bookmaker-box-title-bonus .bookmaker-box-content {
    width: 71%;
    margin: 0;
}

.main-box .bookmaker-box-top-bonus {
    margin: 0;
    padding: 20px;
}

.main-box .bookmaker-box-top-bonus .bookmaker-box-content p {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
}

.bookmaker_table_offer_logo_title {
    position: relative;
    top: -11px;
    color: #a9a9a9;
}

.bookmaker_table_offer_logo_title p {
    font-size: 14px !important;
}

.bookmaker_table_offer_mark_title {
    position: relative;
    top: -11px;
    left: 35px;
    color: #a9a9a9;
}

.bookmaker_table_offer_mark_title p {
    font-size: 14px !important;
}

.bookmaker_table_offer_review_title {
    position: relative;
    top: -11px;
    left: -15px;
    color: #a9a9a9;
}

.bookmaker_table_offer_review_title p {
    font-size: 14px !important;
}

.bookmaker_table_offer_bonus_title {
    position: relative;
    top: -11px;
    left: -65px;
    color: #a9a9a9;
}

.bookmaker_table_offer_bonus_title p {
    font-size: 14px !important;
}

.bookmaker_table_offer_platforms_icon_title {
    position: relative;
    top: -11px;
    left: -60px;
    color: #a9a9a9;
}

.bookmaker_table_offer_platforms_icon_title p {
    font-size: 14px !important;
}

.bookmaker_table_offer_bonus_title_mobile {
    position: relative;
    top: -11px;
    left: -5px;
    color: #a9a9a9;
}

.bookmaker_table_offer_bonus_title_mobile p {
    font-size: 14px !important;
}

.bookmaker-content .info, .bet-guide-article-box-content .info {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.bookmaker-content .info .info-icon, .bet-guide-article-box-content .info .info-icon {
    padding: 10px;
}

.bookmaker-content .info .info-text {
    font-size: 18px;
}

.bet-guide-article-box-content .info .info-text {
    font-size: 18px;
}

.best-bonus-box .best-bonus-box-content {
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 0;
}

.best-bonus-box .best-bonus-box-content .best-bonus-box-content-logo a img {
    width: 60%;
}

.best-bonus-box .best-bonus-box-content .bonus-more {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
}

.best-bonus-box .best-bonus-box-content .bonus-more .border {
    height: 26px;
    width: 1px;
    background-color: whitesmoke;
}

.best-bonus-box .best-bonus-box-content .bonus-more .best-bonus-box-content-logo {
    padding: 15px;
}

.best-bonus-box .best-bonus-box-content .bonus-more .link-more a {
    color: #A9A9A9;
}

.best-bonus-box .best-bonus-box-content .get-bonus {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.best-bonus-box .best-bonus-box-content .get-bonus .get-bonus-text {
    padding: 16px;
    color: #ffffff;
}

.best-bonus-box .best-bonus-box-content .get-bonus .get-bonus-text p {
    margin: 0;
    font-size: 20px;
}

.main-box .card {
    padding: 10px;
}

.main-box .bg {
    background-color: #fff;
    padding: 10px;
}

.main-box .cards .cards-title {
    margin: 0 10px;
}

.main-box .card .card-header {
    display: flex;
    justify-content: space-between;
    padding: 22px;
}

.main-box .card .card-header .title {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
}

.main-box .card .card-content ul {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 14px;
}

.main-box .card .card-content ul li {
    margin-bottom: 14px;
}

.main-box .card .card-content ul li a {
    text-decoration: underline;
    color: #5FA959;
}

.main-box .card .card-footer .more-link {
    text-align: center;
    display: flex;
    justify-content: center;
}

.main-box .card .card-footer .more-link a {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    padding: 20px;
}

.main-box .card .card-footer .more-link .count {
    border-radius: 50px;
    background-color: whitesmoke;
    padding: 5px;
    color: #5FA959;
}

.sidebar-right .articles {
    background-color: white;
    border-radius: 3px;
}

.sidebar-right .articles .article:first-child {
    background-color: white;
}

.main-box .article-single {
    background-color: #fff;
}

.main-box .article-single .content img {
    width: 100%;
    height: auto;
}

.main-box .article-single .content .date-view {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
    display: flex;
    align-items: center;
    color: #A9A9A9;
    font-size: 14px;
}

.main-box .article-single .content .date-view .views {
    display: flex;
    align-items: center;
}

.main-box .article-single .content .date-view .date {
    font-size: 14px;
    padding: 0 20px 0 20px;
}

.main-box .article-single .content .date-view .views img {
    width: auto;
    height: auto;
    padding-right: 15px;
}

.main-box .article-single .text {
    padding: 20px;
}

.main-box .article-single .text p {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
}

.main-box .article-single .text h4 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    padding: 20px 0;
}

.main-box .article-single .text hr {
    margin-top: 40px;
}

.main-box .articles-box .articles-box-title-news {
    margin-top: 54px;
}

.main-box .bookmaker-details-box .bookmaker-details {
    background-color: #fff;
    padding: 28px;
    width: 100%;
    border-radius: 3px;
}

.main-box .bookmaker-details-box .bookmaker-details tr td {
    height: 70px;
    border-bottom: 1px solid #f5f5f5;
}

.main-box .bookmaker-details-box .bookmaker-details tr td img {
    padding-right: 30px;
}

.main-box .bookmaker-details-box .bookmaker-details tr td:first-child span {
    padding-left: 20px;
}

/*.main-box .bookmaker-details .site, .main-box .bookmaker-details .year-of-creation, .main-box .bookmaker-details .platforms, .main-box .bookmaker-details .services {*/
/*display: flex;*/
/*justify-content: space-between;*/
/*padding: 15px;*/
/*}*/

.main-box .bookmaker-details .platforms img {
    width: auto;
    height: auto;
}

/*.main-box .bookmaker-details .year-of-creation p {*/
/*margin: 0;*/
/*}*/

.main-box .bookmaker-box {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.main-box .bookmaker-box.bookmaker-box-mobile-page {
    padding: 30px 14px;
}

.main-box .bookmaker-box .row-mobile-page {
    display: flex;
    align-items: center;
}

.main-box .bookmaker-box-top-bet {
    margin: 0;
}

.main-box .bookmaker-box .bookmaker-box-content_mobile {
    display: block;
}

.main-box .bookmaker-box .bookmaker-box-content_mobile div.row {
    display: flex;
    align-items: center;
}

.main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_mark_mobile div {
    display: flex;
    align-items: center;
}

.main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_mark_mobile img {
    padding-left: 10px;
}

.main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_mark_mobile p {
    font-size: 30px;
}

.main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_mark_mobile p.raiting {
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #a8a8a8;
}

.main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_review_mobile {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_review_mobile span {
    font-size: 30px;
    font-family: Gilroy;
    font-weight: 500;
    font-style: normal;
}

.main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_review_mobile a p {
    font-size: 14px;
    font-family: Gilroy;
    font-weight: 500;
    font-style: normal;
    color: #5fa959;
    text-decoration: underline;
    padding-left: 10px;
}

.main-box .bookmaker-box .bookmaker_table_offer_buttons .leave-feedback {
    border: 2px solid #5fa959;
    border-radius: 50px;
}

.main-box .bookmaker-box .bookmaker_table_offer_review span {
    font-size: 30px;
}

.main-box .bookmaker-box .bookmaker_table_offer_review a {
    font-size: 14px;
    color: #5FA959;
    position: relative;
    top: -6px;
    left: 6px;
    text-decoration: underline;
}

.main-box .bookmaker-box .bookmaker_table_offer_logo {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.main-box .bookmaker-box .bookmaker_table_offer_mark {
    padding: 8px 0;
}

.main-box .bookmaker-box .bookmaker_table_offer_mark_mobile {
    padding-right: 0;
    padding-left: 0;
    width: 38%;
}

.main-box .bookmaker-box .bookmaker_table_offer_mark_mobile span {
    font-size: 30px;
}

.main-box .bookmaker-box .bookmaker_table_offer_mark_mobile img, .main-box .bookmaker-box .bookmaker_table_offer_mark_mobile p {
    font-size: 18px;
}

.main-box .bookmaker-box .bookmaker-box-content_mobile .leave-feedback-button-bonus {
    padding: 3px 0 3px 16%;
}

.main-box .bookmaker-box .bookmaker_table_offer_buttons.leave-feedback-button {
    display: flex;
    justify-content: center;
    padding: 3px 0;
}

.main-box .bookmaker-box .bookmaker-content .bookmaker-content-text img {
    width: 100%;
    height: auto;
}

.main-box .bet-guide-article .bet-guide-article-box {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 3px;
}

.main-box .bet-guide-article .bet-guide-article-box .bet-guide-article-box-content .bet-guide-article-box-content-title {
    padding: 10px 0;
}

.main-box .bet-guide-article .bet-guide-article-box .bet-guide-article-box-content .bet-guide-article-box-content-text p {
    padding-top: 10px;
    padding-bottom: 15px;
}

.main-box .bet-guide-article .bet-guide-article-box .bet-guide-article-box-content .bet-guide-article-box-content-text .bet-guide-article-img {
    width: 100%;
    height: auto;
}

.main-box .bet-guide-article .bet-guide-article-box .bet-guide-article-box-content .bet-guide-article-box-content-text .sale-rules .sale-rules-header p {
    color: #5FA959;
    font-size: 18px;
}

.main-box .bet-guide-article .bet-guide-article-box .bet-guide-article-box-content .bet-guide-article-box-content-text .sale-rules .sale-rules-header {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
}

.main-box .bet-guide-article .bet-guide-article-box .bet-guide-article-box-content .bet-guide-article-box-content-text .sale-rules ul {
    list-style-image: url("../icons/list-style-circle.png");
    font-size: 16px;
}

.social-comments {
    display: flex;
    padding-top: 20px
}

.social-comments .social-comments-vk, .social-comments .social-comments-fb, .social-comments .social-comments-insta, .social-comments .social-comments-twitter {
    position: relative;
    padding: 0 10px;
}

.social-comments .social-comments-vk p, .social-comments .social-comments-fb p, .social-comments .social-comments-insta p, .social-comments .social-comments-twitter p {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
}

.article-mobile-page {
    background-color: #fff;
}

.article-mobile-page img {
    width: 100%;
    height: auto;
}

.navbar.navbar-default .navigation-in-article {
    font-family: Gilroy;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    margin: 0;
}

.navbar.navbar-default .navigation-in-article li {
    padding: 0 20px;
}

.navbar.navbar-default .navigation-in-article li a {
    color: #000;
    border-bottom: 2px solid white;
    padding: 21px 0px;
}

.navbar.navbar-default .navigation-in-article li a:hover {
    color: #64BE5B;
    border-color: #64BE5B;
}

.navbar.navbar-default .navigation-in-article .active a {
    background-color: unset;
    background-image: unset;
    box-shadow: unset;
    border-color: #64BE5B;
    color: #64BE5B;
}

.pluses-wrap {
    padding: 34px 18px 34px 34px;
}

.minuses-wrap {
    padding: 34px 34px 34px 18px;
}

.pluses, .minuses {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 3px;
}

.pluses .header, .minuses .header {
    padding-bottom: 5px;
}

.pluses .header h4, .minuses .header h4 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
}

.pluses .header h4 {
    color: #6CAF66;
}

.minuses .header h4 {
    color: #FF0534;
}

.pluses img, .minuses img {
    width: 24px;
    height: 24px;
}

.pluses .item, .minuses .item {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    display: flex;
    padding: 10px 0;
}

.pluses .item-content, .minuses .item-content {
    padding: 0 10px;
}

.article-mobile-page-text {
    padding: 20px;
}

.article-mobile-page-text h3 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}

.article-mobile-page-text h4 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: #5FA959;
}

.article-mobile-page-text p {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
    padding: 10px 0;
}

.article-mobile-page-text ul {
    list-style-image: url("../icons/list-style-circle.png");
}

.article-mobile-page-text ul li p {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
}

.download-applications img {
    width: 59px;
    height: 59px;
}

.download-applications {
    background: whitesmoke;
    margin: 0 20px;
}

.download-applications .d-app:first-child {
    border-right: 1px solid #d8d8d8;
}

.download-applications .d-app {
    position: relative;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    margin: 10px 0;
}

.download-applications .d-app span {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    color: #5FA959;
    padding-left: 30px;
}

.download-applications .d-app .leave-feedback {
    border-color: #5fa858;
    background: transparent;
}

.contacts {
    padding: 20px;
}

.contacts h3, .bonus-banner-box-title h2 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    padding: 10px 0;
}

.contacts .contact-table {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    margin: 15px 0;
    width: 33%;
}

.contacts .contact-table tr {
    margin-bottom: 10px;
    display: block;
}

.contacts .contact-table td:last-child {
    color: #5FA959;
}

.contacts .contact-table tr td {
    padding: 0 16px;
    width: 42%;
}

.bonus-banner-box {
    padding: 20px;
}

.bonus-banner-box .bonus-banner-wrap {
    border: 2px solid #f5f5f5;
}

.bonus-banner-box .bonus-banner-wrap .bonus-banner-box-text {
    padding: 20px;
}

.bonus-banner-box .bonus-banner-wrap .bonus-banner-box-text h3 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    margin: 0 0 20px 0;
    color: #5FA959;
}

.bonus-banner-box .bonus-banner {
    position: relative;
}

.bonus-banner-box .bonus-banner .bonus-banner-icon {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

.bonus-banner-box .bonus-banner span {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.bonus-banner-box .bonus-banner button {
    position: absolute;
    top: 50%;
    left: 87%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-color: #fff;
    color: white;
}

.bonus-banner-box .bonus-banner button:hover, .bonus-banner-box .bonus-banner button:focus, .bonus-banner-box .bonus-banner button:active {
    border-color: #fff;
    color: #fff;

}

.feedback .feedback-title span, .more-reviews-link span {
    color: #93918f;
}

.feedback .feedback-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback .feedback-box {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 1px;
}

.feedback .feedback-box .feedback-box-header {
    padding: 10px;
    display: flex;
}

.feedback-box-header-ava img {
    width: 57px;
    height: 57px;
}

.feedback .feedback-box .feedback-box-header .feedback-box-header-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    border-right: 1px solid #f5f5f5;
    padding: 0 35px 0 22px;
}

.feedback .feedback-box .feedback-box-header .feedback-box-header-info .feedback-box-header-info-name p {
    margin: 0;
}

.feedback .feedback-box .feedback-box-header .feedback-box-header-info .feedback-box-header-info-data p {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #cccccc;
    margin: 0;
}

.feedback .feedback-box .feedback-box-header .feedback-box-header-mark {
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 30px;
}

.feedback .feedback-box .feedback-box-content {
    padding: 0 70px;
}

.feedback-box-content-item-plus, .feedback-box-content-item-minus {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.feedback-box-content-item-minus .feedback-box-content-item-minus-header, .feedback-box-content-item-plus .feedback-box-content-item-plus-header {
    display: flex;
    font-size: 15px;
    padding-bottom: 10px;
}

.feedback-box-content-item-minus .feedback-box-content-item-minus-header h4, .feedback-box-content-item-plus .feedback-box-content-item-plus-header h4 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    margin-top: 3px;
    padding-left: 14px;
}

.feedback-box-content-item-plus .feedback-box-content-item-plus-header h4 {
    color: #5FA859;
}

.feedback-box-content-item-minus .feedback-box-content-item-minus-header h4 {
    color: #FF0534;
}

.feedback-box-content-item-plus .image img, .feedback-box-content-item-minus .image img {
    width: 24px;
    height: 24px;
}

.feedback-box-content-item-plus .item, .feedback-box-content-item-minus .item {
    display: flex;
}

.more-reviews-link {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
    font-size: 15px;
}

.more-reviews-link a {
    color: #5FA959;
}

.article-mobile-page-bookmaker-banner {
    position: relative;
}

.article-mobile-page-bookmaker-banner .article-mobile-page-bookmaker-banner-header {
    position: absolute;
    top: 12%;
    left: 4%;
    color: #fff;
    display: flex;
    align-items: center;
}

.article-mobile-page-bookmaker-banner .article-mobile-page-bookmaker-banner-header p a {
    color: #ffffff;
    text-decoration: underline;
}

.article-mobile-page-bookmaker-banner .article-mobile-page-bookmaker-banner-header p {
    color: #ffffff;
    text-decoration: underline;
    padding: 0 10px;
    margin: 0;
}

.article-mobile-page-bookmaker-banner .article-mobile-page-bookmaker-banner-header img {
    width: 28px;
    height: 28px;
}

.bookmaker-box-bonus-page-item-wrap {
    background-color: #fff;
}

.bookmaker-box-bonus-page {
    padding-top: 10px;
}

.bookmaker-box-bonus-page .bookmaker-box-content-bonus-page .bookmaker_table_offer_logo img {
    width: 119px;
    height: 25px;
}

.bookmaker-box-bonus-page .bookmaker-box-content-bonus-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
}

.bookmaker-box-bonus-page .bookmaker-box-content-bonus-page .bookmaker_table_offer_mark {
    display: flex;
    align-items: center;
}

.bookmaker-box-bonus-page .bookmaker-box-content-bonus-page .bookmaker_table_offer_mark p {
    margin: 0;
    padding: 0 5px;
}

.bookmaker-box-bonus-page .bookmaker-box-content-bonus-page .bookmaker_table_offer_mark img {
    width: 15px;
    height: 14px;
    padding: 0;
}

.bookmaker-box-bonus-page .bookmaker-box-content-bonus-page .bookmaker_table_offer_buttons a {
    padding: 0 2px;
}

.bookmaker-box-bonus-page .bookmaker-box-content-bonus-page .bookmaker_table_offer_buttons button {
    font-size: 12px;
}

.bookmaker-box-content-bonus-page-hr {
    width: 80%;
    margin: 0 auto !important;
}

.bookmaker-box-bonus-page .all-bet-link {
    border-top: 1px solid #eeeeee;
    padding: 15px 0 15px 0;
}

.bookmaker-box-bonus-page .all-bet-link a {
    color: #5FA959;
}

.join-to-winline {
    padding: 0px 20px;
}

.join-to-winline .join-to-winline-title h2 {
    padding-top: 10px;
}

.join-to-winline .join-to-winline-content ul {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
    list-style-image: url("../icons/check-mark-icon.png");
}

.join-to-winline .join-to-winline-content ul li p {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 20px 10px;
}

.reg-winline-bonus {
    padding: 0 20px;
}

.reg-winline-bonus-content ol {
    font-family: Gilroy;
    font-weight: normal;
    font-style: normal;
}

.reg-winline-bonus-content ol {
    list-style: none;
    counter-reset: my-counter;
    padding: 0;
}

.reg-winline-bonus-content ol li {
    display: inline-flex;
    margin-bottom: 15px;
}

.reg-winline-bonus-content ol li p {
    margin: 0 15px;
}

.reg-winline-bonus-content ol li:before {
    content: counter(my-counter);
    counter-increment: my-counter;
    background-image: url(../icons/green-circle.png);
    padding: 9px 14px 10px 15px;
    height: 37px;
    width: 37px;
    color: #5FA959;
    font-size: 15px;
}

.reg-winline-bonus-content ol li:first-child:before {
    padding: 9px 14px 10px 16px;

}

.article-mobile-page .get-bonus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    margin: 40px 20px;
    padding: 15px 0;
}

.article-mobile-page .get-bonus .get-bonus-icon {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.article-mobile-page .get-bonus .get-bonus-icon img {
    width: 54px;
    height: 54px;
}

.article-mobile-page .get-bonus .get-bonus-icon p {
    font-family: Gilroy;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0 15px;
    font-size: 20px;
}

.article-mobile-page .get-bonus .get-bonus-btn {
    padding: 0 15px;
}

.winline-guide-bookmaker {
    background-color: #ffffff;
    padding: 0;
    margin: 20px 0;
}

.winline-guide-bookmaker .winline-guide-box .winline-guide-box-title {
    padding: 0 20px;
}

.winline-guide-box-main {
    background-color: #fff;
    padding: 20px 0;
    border-radius: 3px;
}

.winline-guide-box-main .winline-guide .winline-guide-content ul {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    list-style-image: url("../icons/list-style-circle.png");
    margin-bottom: 0;
}

.winline-guide-box-main .winline-guide .winline-guide-content ul li {
    text-decoration: underline;
    padding: 10px 15px;
}

.winline-guide-box-main .winline-guide .winline-guide-content ul li a {
    color: #5FA959;
}

.select-bonus .row {
    display: flex;
    justify-content: space-between;
}

.select-bonus select {
    display: block;
    font-size: 15px;
    color: #a8a8a8;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff url('../icons/select-bar-down-icon.png') no-repeat right 20px top 50%;
    background-size: .65em auto, 100%;
}

.select-bonus select:first-child {
    margin: 15px 15px 15px 0;
}

.select-bonus select:last-child {
    margin: 15px 0 15px 15px;
}

.select-bonus select::-ms-expand {
    display: none;
}

.select-bonus select:hover {
    border-color: #5FA959;

}

.select-bonus select:focus {
    border-color: #5FA959;
    color: #222;
    outline: none;
}

.select-bonus select option {
    font-weight: normal;
}

.bonus-for-reg {
    padding-top: 20px;
}

.bonus-for-reg-content {
    border: 1px solid #e4e4e4;
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
}

.bonus-for-reg .row {
    display: flex;
    align-items: center;
}

.bonus-for-reg h4 {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

.bonus-for-reg p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

.bonus-for-reg .bonus-for-reg-top-text p {
    color: #a8a8a8;
}

.bonus-for-reg .dot {
    height: 7px;
    width: 7px;
    background-color: #5FA959;
    border-radius: 50%;
    display: inline-block;
    margin: 0 15px 0 20px;
}

.bonus-for-reg .bonus-for-reg-image {
    padding: 0;
}

.bonus-for-reg .bonus-for-reg-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.bonus-for-reg .bonus-for-reg-content-top {
    display: flex;
    align-items: center;
}

.bonus-for-reg .bonus-for-reg-content-top .bonus-for-reg-top-text {
    display: flex;
    align-items: center;
}

.bonus-for-reg-content-buttons {
    padding-left: 0;
}

.bonus-for-reg-content-buttons a {
    padding: 10px 12px;
    width: 100%;
}

.show-more-btn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.show-more-btn a, .show-more-btn a:hover, .show-more-btn a:active, .show-more-btn a:focus {
    border-color: #5FA959;
    color: #5FA959;
    padding: 8px 30px;
    font-size: 16px;
}

.show-more-btn a img {
    padding-right: 15px;
}

.main-box .all-bet-link-bonus a {
    font-size: 15px;
}

.panel-group {
    margin: 0;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

.panel-active {
    border-bottom-color:#5FA959 !important;
    color: #5FA959 !important;
}

.panel-group .panel {
    border: 0;
    border-radius: 0 ;
}

.panel-group .panel-heading {
    padding: 0 20px;
}

.panel-group .panel-title {
    font-weight: 600;
    font-style: normal;
    padding: 15px;
    background-color: #fff;
    border-radius: 0px;

}

.panel-group .panel .panel-title{
    border-bottom: 2px solid #f5f5f5;
}


.panel-group .panel .panel-title:hover,
.panel-group .panel .panel-title:focus,
.panel-group .panel .panel-title:active,
#mobileThree .panel-group .panel .panel-title:hover,
#mobileThree .panel-group .panel .panel-title:focus,
#mobileThree .panel-group .panel .panel-title:active {
    border-bottom-color:#5FA959;
    color: #5FA959 !important;
}

.panel-group .panel+.panel {
    margin: 0;
}

.panel-heading  {
    padding: 15px;

}

.panel-group>.panel-drop>.panel-heading .panel-title:after {
    content: url(../icons/select-bar-down-icon.png);
    position: relative;
    right: -155px;
}

.panel-body {
    padding: 0;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}

#mobileThree .panel-group .panel, #mobileThree .panel-group .panel .panel-title {
    background-color: rgb(245, 245, 245);
}

#mobileThree .panel-group .panel .panel-title {
    border-bottom: 2px solid #ddd;
}

/*START MEDIA*/

@media screen and (min-width: 320px) and (max-width: 410px) {
    .main-box .bookmaker-box .bookmaker-box-content img {
        padding: 0px 1px;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_logo img {
        width: 90%;
        padding: 0;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_buttons .green-btn {
        font-size: 10px;
    }

    h2 {
        font-size: 27px;
    }
}

@media screen and (max-width: 1200px) {
    .bookmaker_table_offer_logo_title {
        left: 25px;
    }

}

@media screen and (max-width: 991px) and (min-width: 768px) {

    .best-bonus-box .best-bonus-box-content:nth-child(2) {
        padding: 0 5px 0 0;
    }

    .best-bonus-box .best-bonus-box-content:nth-child(3) {
        padding: 0 0 0 5px;
    }

    .best-bonus-box .best-bonus-box-content:nth-child(4) {
        padding: 0 5px 0 0;
    }

    .best-bonus-box .best-bonus-box-content:nth-child(5) {
        padding: 0 0 0 5px;
    }

    .sidebar-right {
        margin: 50px 0;
    }

    .sidebar-right hr {
        margin: 0;
    }

    .winline-guide-box {
        background-color: #ffffff;
    }

    .winline-guide-box .winline-guide-box-title {
        padding: 10px 30px;
    }

    .bonus-for-reg-content {
        padding: 19px 15px;
    }

}

@media screen and (max-width: 991px) {
    footer .container-fluid {
        margin: 0;
    }

    .navbar.navbar-default .navigation-in-article li {
        float: left;
    }

    .bonus-banner-box {
        padding: 0;
    }

    .bonus-banner-box .bonus-banner-box-title {
        padding: 0 20px;
    }

    .bonus-banner-box .bonus-banner-wrap {
        border: 0px;
    }

    .bonus-for-reg .bonus-for-reg-content .row {
        display: block;
    }

}

@media screen and (max-width: 767px) {
    .main-box .bookmaker-box .bookmaker_table_offer_review span {
        display: block;
        margin: 0 auto;
    }

    .main-box .bookmaker-box .bookmaker_table_offer_review a {
        position: unset;
    }

    .main-box .bookmaker-box {
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_bonus {
        padding: 8px 29px;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_logo {
        width: 120px;
    }

    .main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_logo {
        padding-bottom: 18px;
        border-bottom: 1px solid #D7D7D7;
    }

    .main-box .bookmaker-box-mobile-page .bookmaker_table_offer_logo {
        padding-bottom: 0;
        border-bottom: 1px solid #D7D7D7;
    }

    .main-box .bookmaker-box .bookmaker_table_offer_logo .logo-img {
        width: 150px !important;
        padding-bottom: 20px;
    }

    .main-box .bookmaker-box .bookmaker_table_offer_mark_mobile {
        border-right: 1px solid #D7D7D7;
        padding: 10px 15px;
        width: 50%;
    }

    .main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_mark_mobile div {
        justify-content: center;
    }

    .main-box .bookmaker-box .bookmaker_table_offer_mark_mobile span {
        font-size: 24px;
    }

    .main-box .bookmaker-box .bookmaker-box-content_mobile div.row {
        display: block;
        align-items: normal;
    }

    .main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_review_mobile {

        display: block;
        align-items: normal;
        padding: 10px 0;
        text-align: center;
    }

    .main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_review_mobile span {
        font-size: 24px;
        font-family: Gilroy;
        font-weight: 500;
        font-style: normal;
    }

    .main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_review_mobile a p {
        font-size: 14px;
        font-family: Gilroy;
        font-weight: 500;
        font-style: normal;
        color: #5fa959;
    }

    .pluses-wrap, .minuses-wrap {
        padding: 20px 20px 0 20px;
    }

    .download-applications {
        background-color: #ffffff;
    }

    .download-applications .d-app {
        margin-bottom: 20px;
    }

    .download-applications .d-app:first-child {
        border-right: 0;
    }

    .bonus-banner-box .bonus-banner span {
        font-size: 7vw;
        left: 26%;
    }

    .bonus-banner-box .bonus-banner button {
        font-size: 4vw;
        left: 66%;
    }

    .bonus-banner-box .bonus-banner-wrap .bonus-banner {
        padding: 20px;
    }

    .best-bonus-box .best-bonus-box-content .best-bonus-box-content-logo a img {
        width: initial;
    }

    .feedback .feedback-box .feedback-box-header {
        justify-content: space-between;
    }

    .feedback .feedback-box .feedback-box-content {
        padding: 0;
    }

    .feedback .feedback-box .feedback-box-header .feedback-box-header-info {
        width: 50%;
        padding-left: 11px;
    }

    .more-reviews-link {
        font-size: 16px;
    }

    .main-box .all-bet-link {
        border: unset;
        border-top: 1px solid #eeeeee !important;
        border-radius: unset;
        padding: 15px 0 15px 0;
        font-size: 17px;
    }

    .article-mobile-page .get-bonus {
        display: block;
        background-color: #f5f5f5;
        margin: 40px 20px;
        padding: 15px 0;
    }

    .article-mobile-page .get-bonus .get-bonus-icon {
        display: block;
        text-align: center;
        padding: 0 20px;
    }

    .article-mobile-page .get-bonus .get-bonus-icon p {
        margin: 0;
        padding: 10px 0;
    }

    .article-mobile-page .get-bonus .get-bonus-btn {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .article-mobile-page .get-bonus .get-bonus-btn a {
        width: 85%;
    }

    .article-mobile-page .get-bonus .get-bonus-btn a button {
        width: 100%;
    }

    .social-comments {
        justify-content: center;
    }

    .main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_mark_mobile p {
        font-size: 24px;
    }

    .main-box .bookmaker-box .row-mobile-page {
        display: block;
        align-items: normal;
    }

    .main-box .bookmaker-box.bookmaker-box-mobile-page {
        padding-bottom: 0;
    }

    .select-bonus .row {
        display: block;
    }

    .select-bonus select {
        margin: 15px 0;
    }

    .select-bonus select:last-child {
        margin: 15px 0;
    }

    .bonus-for-reg .row {
        display: block;
    }

    .bonus-for-reg-content .bonus-for-reg-content-buttons {
        padding: 10px 20px 20px 20px;
    }

    .bonus-for-reg-content .bonus-for-reg-content-buttons div{
        padding: 0;
    }

    .bonus-for-reg .bonus-for-reg-content-top {
        display: block;
        padding-top: 20px;
    }

    .bonus-for-reg .dot {
        margin-left: 0;
    }

    .bonus-for-reg .bonus-for-reg-content-top .bonus-for-reg-top-text {
        padding-top: 15px;
    }

    .bonus-for-reg-content {
        border-top: unset;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .bonus-for-reg .bonus-for-reg-image img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .show-more-btn {
        padding-bottom: 10px;
    }

}

@media screen and (min-width: 768px) {
    .download-applications .d-app {
        border-radius: 0;
    }

    .bonus-for-reg-content {
        border-left: unset;
    }
}

@media screen and (min-width: 992px) {

    .bonus-for-reg-content .bonus-for-reg-content-buttons div {
        padding: 0;
    }

    .bonus-for-reg-content .bonus-for-reg-content-buttons div:first-child a {
        margin: 19px 0 10px 0;
    }

    .bonus-for-reg-content .bonus-for-reg-content-buttons div:last-child a {
        margin: 10px 0 19px 0;
    }



}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .bookmaker-box-bonus-page .bookmaker-box-content-bonus-page {
        padding: 14px 10px;
    }

    .bookmaker-box-bonus-page .bookmaker-box-content-bonus-page .bookmaker_table_offer_logo img {
        width: 100px;
        height: 21px;
    }

    .bookmaker-box-bonus-page .bookmaker-box-content-bonus-page .bookmaker_table_offer_buttons button {
        font-size: 9px;
    }

    .bookmaker-box-bonus-page .bookmaker-box-content-bonus-page .bookmaker_table_offer_mark p {
        padding: 0 2px;
    }

    .main-box .bookmaker-box .bookmaker-box-content_mobile .bookmaker_table_offer_logo {
        padding: 8px 0;
    }

    .main-box .bookmaker-box .bookmaker-box-content_mobile .leave-feedback-button-bonus {
        padding: 3px 0 3px 13%;
    }

    .panel-group>.panel-drop>.panel-heading .panel-title:after {
        right: -90px;
    }

    .bonus-for-reg-image.col-md-3 {
        width: 29%;
    }

}

@media screen and (min-width: 1200px) {
    .main-box .bookmaker-box-top-bonus {
        margin: 0;
        padding: 20px;
    }

    .bonus-for-reg-content {
        padding: 5px 15px;
    }

}

/*END MEDIA*/