/*START FONTS*/
@font-face {
    font-family: Gilroy-Medium;
    src: url("../fonts/Gilroy-Medium.eot") format("embedded-opentype"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url("../fonts/Gilroy-SemiBold.eot") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Gilroy-Regular;
    src: url("../fonts/Gilroy-Regular.eot") format("embedded-opentype"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*END FONTS*/

/*START COMMON*/

.clearfix {
    clear: both;
}

body {
    font-family: Gilroy-Medium;
    background-color: #f5f5f5;
}

a {
    color: #000000;
    text-decoration: none;
}

h2 {
    font-family: Gilroy-SemiBold;
}

a:hover, a:focus, a:active {
    color: #000000;
    text-decoration: none;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .btn-default:focus {
    background-image: unset;
    background-color: unset;
    box-shadow: unset;
    border-color: #5FA959;
}

.button {
    background-image: unset;
    border-radius: 50px;
    box-shadow: unset;
    border-width: 2px;
    text-shadow: none;
}

.button:hover {
    background-color: unset;
    border-color: #5FA959;

}

.green-btn {
    background-color: #5fa959;
    color: white;
    border-color: #5fa959;

}

.green-btn:hover, .green-btn:active, .green-btn:focus  {
    background-color: #fff !important;
    color: #5fa959 !important;
    font-weight: bold;
}

/*END COMMON*/

/*START NAVIGATION*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-collapse.collapsing ul {
    margin: 0;
}

.navbar-collapse.collapsing ul li a {
    padding: 16px 0;
}

.navbar-collapse.collapsing ul li {
    padding: 0 10px;
}
.navbar.navbar-default {
    box-shadow: unset;
    background-color: white;
    background-image: none;
    border: none;
}

.navbar.navbar-default .navbar-nav > .active > a, .navbar.navbar-default .navbar-nav > .open > a {
    background-image: unset;
    background-repeat: unset;
    box-shadow: unset;
}

.navbar.navbar-default .navbar-nav > .active > a, .navbar.navbar-default .navbar-nav > .active > a:focus, .navbar.navbar-default .navbar-nav > .active > a:hover {
    color: unset;
    background-color: unset;
}

.nav > li > a {
    display: block;
}

.navbar.navbar-default .navbar-header .navbar-toggle {
    border: none;
    margin: 18px;
}

.navbar.navbar-default .navbar-header .navbar-toggle span {
    background-color: #000000;
}

.navbar.navbar-default .navbar-header .navbar-brand {
    height: auto;
    margin: 0;
}

.navbar.navbar-default .collapse.navbar-collapse .nav.navbar-nav {
    margin: 0 20px;
}

.navbar.navbar-default .collapse.navbar-collapse .nav.navbar-nav li {
    padding: 0 20px;
}

.navbar.navbar-default .collapse.navbar-collapse .nav.navbar-nav li a, .navbar.navbar-default .navbar-nav > li > a {
    color: #000;
    border-bottom: 2px solid white;
    padding: 19px 0px;
}

.navbar.navbar-default .collapse.navbar-collapse .nav.navbar-nav li a:hover {
    color: #64BE5B;
    border-color: #64BE5B;
}

.navbar.navbar-default .collapse.navbar-collapse .nav.navbar-nav .active a, .navbar.navbar-default .navbar-nav > .active > a, .navbar.navbar-default .navbar-nav > .open > a {
    background-color: unset;
    background-image: unset;
    box-shadow: unset;
    border-color: #64BE5B;
    color: #64BE5B;
}

.navbar .navbar-right {
    margin: 12px 0px;
}

.navbar .navbar-right .input-group-addon {
    background-color: unset;
    border: none;
}

.navbar .navbar-right .form-control {
    border: none;
    box-shadow: unset;
}

/*END NAVIGATION*/

/*START MAIN-BOX*/

.main-box .all-bet-link {
    text-align: center;
    padding: 10px 0 25px 0;
}

.main-box .bookmaker-box {
    background-color: #fff;
    padding: 14px;
    padding-top: 8px;
    margin: 15px 0px;
    border-radius: 3px;
}

.main-box .bookmaker-box .bookmaker-box-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 12px;
}

.main-box .bookmaker-box .bookmaker-box-content img, .main-box .bookmaker-box .bookmaker-box-content p {
    display: inline-block;
    margin: 0;
}

.main-box .bookmaker-box .bookmaker-box-content img {
    position: relative;
    top: -2px;
    padding: 0 10px;
}

.main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_buttons .green-btn {
    margin-left: 12px;
}

.main-box .bookmaker-box .bookmaker-box-header .bookmeker_table_offer_number p {
    margin: 0;
    color: #cccccc;
}

.main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_bonus {
    background-color: #f2eff0;
    border-radius: 50px;
    padding: 8px 10px;
}

.main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_bonus img {
    padding: 0 6px 0 4px;
}

.bet-guide {
    background-color: #fff;
    padding: 15px 30px 50px 30px;
}

.bet-guide-content ul {
    padding: 0;
    margin-left: 16px;
}

.bet-guide-content .bet-guide-box {
    background-color: whitesmoke;
    margin: 18px 0;
}

.bet-guide-content .bet-guide-box .row {
    display: flex;
    align-items: center;
}

.bet-guide-content .bet-guide-body-box {
    padding: 0;
    position: relative;
    left: 0;
}

.bet-guide-content .bet-guide-icon {
    background-color: white;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*END MAIN-BOX*/

/*START SIDEBAR*/

.sidebar-right hr {
    margin: 10px;
}

.sidebar-right img {
    width: 100%;
    height: auto;
}

.sidebar-right .articles {
    position: relative;
    top: 4px;
}

.sidebar-right .articles .article {
    padding: 0;
}

.sidebar-right .articles .article .padding {
    padding: 10px 10px 7px 10px;
}

.sidebar-right .articles .all-articles-link {
    text-align: center;
}

.sidebar-right .articles .row hr {
    margin: 7px 0;
}

.sidebar-right .articles .all-articles-link a {
    color: #5fa959;
}

.sidebar-right .articles .article .padding .row {
    display: flex;
}

.sidebar-right .articles .article .padding .row .article-icon-block {
    justify-content: center;
    align-items: center;
    display: flex;
}

.sidebar-right .articles {
    background-color: #fff;
}

.sidebar-right .article {
    position: relative;
}

.date {
    color: #a7a5a3;
    font-size: 13px;
}

.article .padding h5 {
    font-size: 15px;
}

.sidebar-right .article .article-content {
    position: absolute;
    bottom: 0;
    padding: 24px;
}

.sidebar-right .article .article-content .article-title-diff a {
    color: white;
}

.sidebar-right .article-addon {
    display: flex;
    color: #93918f;
}

.sidebar-right .article-addon .views {
    padding-left: 25px;
}

.sidebar-right .article-addon .views img {
    width: 17px;
    height: 10px;
}

.sidebar-right .all-articles-link {
    margin: 20px 0;
}

/*END SIDEBAR*/

/*START FOOTER*/

footer .container-fluid {
    margin-top: 30px;
    background-color: #fff;
}

.footer-box {
    padding: 40px;
}

.footer-box .footer-box-title {
    color: #64BE5B;
}

.footer-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-box div {
    padding: 14px 0;
}

.footer-box .social-icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-box .copyright {
    color: #A8A9A8;
}

/*END FOOTER*/

/*START MEDIA*/

@media screen and (min-width: 320px) and (max-width: 361px) {

    .main-box .bookmaker-box .bookmaker-box-content {
        padding-bottom: 20px;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_logo img {
        width: 100%;
        padding: 0 7px;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_bonus {
        width: 47%;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_bonus p {
        font-size: 11px;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_buttons .green-btn {
        margin-left: 7px;
    }

    .bet-guide-content .bet-guide-icon {
        width: 45px;
        height: 45px;
    }

    .bet-guide-content .bet-guide-body-box {
        left: 0px;
    }

    .bet-guide-content .bet-guide-box .bet-guide-body-box .bet-guide-title h4 {
        font-size: 14px;
    }

    .bet-guide-content .bet-guide-box .bet-guide-body-box .bet-guide-content ul li {
        font-size: 12px;
    }

}

@media screen and (min-width: 356px) and (max-width: 430px) {
    .bet-guide-content .bet-guide-body-box {
        left: 0;
    }

    .bet-guide-content .bet-guide-box .bet-guide-body-box .bet-guide-title h4 {
        font-size: 14px;
    }

    .bet-guide-content .bet-guide-box .bet-guide-body-box .bet-guide-content ul li {
        font-size: 12px;
    }

    .bet-guide-content .bet-guide-icon {
        width: 45px;
        height: 45px;
    }
}

@media screen and (min-width: 359px) and (max-width: 381px) {

    .main-box .bookmaker-box .bookmaker-box-content {
        padding-bottom: 20px;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_logo img {
        width: 100%;
        padding: 0 7px;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_bonus {
        width: 37%;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_bonus {
        width: 28%;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_bonus p {
        font-size: 11px;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_buttons .green-btn {
        margin-left: 7px;
    }

}

@media screen and (min-width: 586px) and (max-width: 767px) {
    .bet-guide-content .bet-guide-body-box {
        left: -40px;
    }
}

@media screen and (max-width: 1440px) {

    .navbar.navbar-default .navbar-header .navbar-brand {
        padding: 10px;
    }

    .navbar.navbar-default .collapse.navbar-collapse .nav.navbar-nav li a {
        padding: 19px 0;
    }

    .navbar .navbar-right {
        margin: 9px 0px;
    }

    .navbar.navbar-default .collapse.navbar-collapse .nav.navbar-nav li {
        padding: 0 10px;
    }

    .navbar-form .form-group {
        width: 70%;
    }
}

@media screen and (max-width: 1320px) {
    .navbar-form .form-group {
        width: 64%;
    }
}

@media screen and (max-width: 1200px) {
    .main-box .bookmaker-box .bookmaker-box-content {
        padding: 0;
    }

    .main-box .bookmaker-box .bookmaker-box-content .bookmaker_table_offer_bonus p {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .main-box .bookmakers .main-box-title h2 {
        font-size: 25px;
    }

    .main-box .all-bet-link {
        border: 2px solid #5fa959;
        border-radius: 50px;
        padding: 18px;
        margin: 0 auto;
        font-size: 17px;
    }

    .navbar-right .button {
        position: absolute;
        top: 17px;
        right: 20px;
    }

    .navbar .navbar-right {
        width: 100% !important;
        border: 0;
        margin: 0;
    }

    .navbar .navbar-right .form-group {
        width: 100% !important;
        display: none;
    }

    .navbar .navbar-right .mobile-search-icon-group {
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 94px;
    }

    .navbar.navbar-default .navbar-header .navbar-brand {
        padding: 15px !important;
    }

    .slick-list {
        overflow: hidden !important;
    }

    .slider .item {
        border-right: 0 !important;
    }

    .sidebar-right {
        margin-bottom: 30px;
    }

    .sidebar-right .articles .article {
        margin-bottom: 1px;
        padding: 0;
    }

    .sidebar-right .articles .article hr {
        margin-bottom: 0;
    }

    .sidebar-right .articles .article .padding {
        padding: 3px 10px 13px 10px;
    }

    .sidebar-right .articles .article .padding h5 {
        font-size: 17px;
    }

    .sidebar-right .articles .all-articles-link {
        float: right;
        background-color: white;
        margin: 0;
        padding: 16px;
    }

    .sidebar-right .articles {
        background-color: transparent;
    }

    .sidebar-right .articles .article:first-child {
        background-color: transparent;
    }

    .sidebar-right .articles .article {
        background-color: white;
    }
}

@media screen and (min-width: 468px) and (max-width: 767px) {
    .footer-box div {
        display: flex;
        justify-content: center;
    }

    .footer-box .social-icon {
        justify-content: space-around;
    }
}

@media screen and (max-width: 467px) {
    .footer-logo, .contact-us-btn, .copyright, .copyright-flex p {
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .footer-box .social-icon {
        width: 120%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .bet-guide-content .col-sm-6 {
        width: 46%;
    }

    .footer-box .social-icon {
        width: 80%;
    }

    .navbar .navbar-right {
        width: 60% !important;
    }

    .navbar-right .button {
        position: absolute;
        top: 14px;
        right: 20px;
    }

    .bet-guide-content .bet-guide-box {
        margin: 2%;
    }

    .bet-guide-content row .col-sm-6 {
        width: 46%;
    }

    .navbar .navbar-right {
        display: inline-block;
        width: 30% !important;
        position: absolute;
        top: 8px;
        right: 0px;
    }

    .navbar-right .button {
        position: absolute;
        top: 0px;
    }

    .navbar.navbar-default .navbar-header .navbar-brand {
        padding: 23px 0 !important;
    }

    .sidebar-right {
        margin-bottom: 30px;
    }

    .sidebar-right img {
        padding-right: 17px;
    }

    .sidebar-right .articles .article {
        margin-bottom: 2px;
        padding-left: 0;
    }

    .sidebar-right .articles .article hr {
        margin-bottom: 0;
    }

    .sidebar-right .articles .article .padding {
        padding: 3px 10px 13px 10px;
    }

    .sidebar-right .articles .article .padding h5 {
        font-size: 14px;
    }

    .sidebar-right .articles .all-articles-link {
        float: right;
        background-color: white;
        margin: 0;
        padding: 16px;
    }

    .sidebar-right .articles {
        background-color: transparent;
    }

    .sidebar-right .articles .article:first-child {
        background-color: transparent;
    }

    .sidebar-right .articles .article {
        background-color: white;
    }
}

@media screen and (max-width: 600px) {
    .main-box .bookmakers .main-box-title h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1295px) {
    .navbar .navbar-right {
        width: 19%;
        padding: 0;
    }

    .navbar.navbar-default .collapse.navbar-collapse .nav.navbar-nav {
        margin: 0;
    }

    .navbar-right .button {
        font-size: 12px;
    }

    .navbar.navbar-default .navbar-header .navbar-brand {
        padding: 10px;
    }
}

@media (max-width: 1148px) and (min-width: 768px) {
    .navbar.navbar-default .navbar-header .navbar-brand {
        padding: 16px 0;
    }

    .navbar-brand > img {
        width: 156px;
    }
}



@media (max-width: 1148px) and (min-width: 992px) {
    .navbar.navbar-default .collapse.navbar-collapse .nav.navbar-nav a {
        font-size: 12px;
    }
}











@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);


    }





    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

/*END MEDIA*/

/*START SLIDER*/

.slider {
    margin: 20px 0;
}

.slider .item {
    background-color: #fff;
    border-right: 20px solid #f5f5f5;
}

.slider .item .slider-item-header, .slider .item .slider-item-content {
    padding: 16px 16px 0 16px;
}

.slider .item .slider-item-header .author-info img {
    width: 55px;
    height: 55px;
}

.slider .item .slider-item-header .author-info {
    display: flex;
    justify-content: space-around;
    border-right: 1px solid #cccccc;
}

.slider .item .slider-item-header .slider-bookmaker-logo {
    padding: 14px;
    display: flex;
    justify-content: center;
}

.slider .item .slider-item-content .comment p {
    padding: 20px 6px;
}

.slider .item .slider-footer hr {
    margin: 0;
}

.slider .item .slider-footer .show-comment-link {
    text-align: center;
    padding: 20px;
}

.slider .item .slider-footer .show-comment-link a {
    color: #5fa959;
}

/*END SLIDER*/